_bmad
.agent
.claude
.github
.vscode
# *.md
# *.yaml
# *.yml
# *.csv
# .xml
.vscode
**/node_modules/**
**/_bmad-output/**

*.md
!README.md
!AGENTS.md
*.env
!*.example
frontend/cross-platform/.env
frontend/web-console/.env
